
.text_center{
    text-align: center;
}

.bg{
    background: black;
}

.mx{
    margin: auto;
}

.flex{
    display: flex;
}

.flex_col{
    flex-direction: column;
}

.item_center{
    align-items: center;
}